<h1>Books for Sale</h1>
<%= form_with url: "/", method: :get do |form| %>
    <%= form.select :category, ["Everything", "On Sale", "No Stock", "Bestsellers", "General"] %>
    <%= form.label :query, "Search all products:" %>
    <%= form.search_field :query %>
    <%= form.submit "Search" %>
<% end %>

<% if @search_performed%>
    <% if @results.any? %>
      <h1>Search Results</h1>
      <ul>
        <% @results.each do |result| %>
          <li><%= result.inspect %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No results found.</p>
    <% end
end%>

<p><%= link_to "Admin Page", "/admin"%>
<p><%= link_to "Cart", "/cart"%>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Price</th>
    <tr>
    <% @books.each do |book|%>
        <tr>
            <td><%= link_to book.title, book_path(book) %></td>
            <td><%= book.author%></td>
            <td><%= book.genre%></td>
            <td>$<%= book.price%></td>
            <td><%= form_with url: cart_items_path, method: :post do %>
                  <%= hidden_field_tag :book_id, book.id %>
                  <%= submit_tag "Add to Cart" %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>