<h1>Checkout Page</h1>
<p><%= link_to "Books", "/" %></p>
<p><%= link_to "Cart", "/cart" %></p>

<ul>
    <% @cart.cart_items.each do |item| %>
        <li>
            <%= item.book.title %>
            <%= item.quantity %> * $<%= item.book.price %>
        </li>
    <% end %>
</ul>
<ul>
    <p>Please enter your name, province/territory, and address:</p>
    <%= form_with url: "checkout", method: :get do |form| %>
        <%= form.select :province, [" ", "BC", "AB", "SK", "MB", "ON", "QB", "NL", "NS", "NB", "PEI", "YK", "NT", "NU"] %>
        <%= form.label :name, "Please enter your name:" %>
        <%= form.search_field :name %>
        <%= form.label :address, "Please enter your address:" %>
        <%= form.search_field :address %>
        <%= form.submit "Submit" %>
    <% end %>
</ul>
<ul>
    <%if @submission == true && @tax != 0%>
        <%= link_to "Purchase", "/purchase" %>
    <% elsif @submission == true%>
        <p>Please enter a name and a province.</p>
    <% end %>
</ul>
    